@media only screen and (max-width:770px) {
/*NAV AND SEARCH MENU*/
    #logo-search-menu-wrapper {
        width: 100%;
    }

    #page-intro {
        width: 95%;
    }

    .top-feature-wrapper {
        width: 95%;
    }

    #grid-container {
        width: 95%;
    }
}

@media only screen and (max-width:450px) {
    .search-btn {
        width: 0px;
        overflow: hidden;    
    }

    .top-feature-wrapper {
        flex-wrap: wrap;
    }

    .top-feature {
        width: 95%;
    }

    .grid-item-container {
        width: 95%;
    }
}